/* ==========================================================================
   COMPONENTS / #ACCORDION
   ========================================================================== */

// Imports
@import "sky-toolkit-core/tools";

// Settings
$accordion-animation-speed: $global-animation-speed !default;
$accordion-background: transparent !default;
$accordion-border-width: 1px;
$accordion-border: $accordion-border-width solid color(grey-20) !default;
$accordion-border-radius: $global-border-radius !default;
$accordion-spacing: $global-spacing-unit - $accordion-border-width;
$accordion-icon-size: 20px !default;
$accordion-icon-offset: $accordion-spacing * 2 + $accordion-icon-size;

/* Base
  ============================================ */

/**
 * Accordion
 *
 * Accordions are useful for grouping content whilst saving screen space.
 *
 * 1. Allows styling of box-model properties and absolute positioning of child/
 *    pseudo-elements.
 */
.c-accordion {
  display: block; /* [1] */
  position: relative; /* [1] */
  border: $accordion-border;
  border-radius: $accordion-border-radius;
}

/**
 * Accordion Section
 *
 * Accordion sections wrap the label and content into a single container.
 */
.c-accordion__section {
  border-bottom: $accordion-border;

  /*
   * Bottom border is hidden on the final section to avoid a "doubled" border
   * appearance with `.c-accordion`.
   */
  &:last-child {
    border-bottom-width: 0;
  }
}

/**
 * Accordion Label
 *
 * Accordion labels provide context on the group and also toggles content.
 *
 * 1. Allows styling of box-model properties and absolute positioning of child/
 *    pseudo-elements.
 * 2. Overwrite browser interaction styles to hide outline and show pointer.
 */
.c-accordion__label {
  @include font(text-body);
  @include height-sizing(padding);
  padding-left: $accordion-spacing;
  padding-right: $accordion-icon-offset;
  display: block; /* [1] */
  position: relative; /* [1] */
  width: 100%;
  text-align: left;
  font-weight: bold;
  color: color(text);
  outline: 0; /* [2] */
  cursor: pointer; /* [2] */
  border: 0;
  background-color: $accordion-background;

  @include hocus() {
    text-decoration: underline;
  }

  /**
   * Accordion Label - Indicator
   *
   * Accordion icons provide an extra form of 'toggle' indication.
   *
   * 1. Allows for absolute positioning from the top and right of the label.
   * 2. Sets background-image to the icon as Base64.
   * 3. Prevents the pseudo-element partially blocking the label's click events.
   * 4. Sets a starting position for the icon's movement.
   *    translateY is required to align the absolute icon to 50% of the height.
   *    translateZ is required to prevent pixel jumps in webkit browsers.
   */
  &::after {
    /*! autoprefixer: off */
    content: "";
    position: absolute; /* [1] */
    top: 50%; /* [1] */
    right: $accordion-spacing; /* [1] */
    width: $accordion-icon-size;
    height: $accordion-icon-size;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAAAjCAMAAAAT1/wYAAAAdVBMVEUAAABKSkpKSkpLS0tQUFBdXV1KSkpQUFBVVVVKSkpKSkpMTExQUFBPT09LS0tKSkpLS0tLS0tKSkpKSkpLS0tMTExMTExMTExKSkpKSkpLS0tLS0tMTExLS0tMTExLS0tKSkpLS0tKSkpKSkpMTExLS0tKSkrnsYtxAAAAJnRSTlMA5vneFwbUEQzz6zAkG+7Z0My8V1AsKCDCsamiQTs1xrZ7bl1KR017H3MAAAEmSURBVEjHpZTpkoIwEAY/DAIKaLi8ULzz/o+4aGZrateVYdz+laTopioJAKjLGB8RlzV6Ls4V8Ud+4dwFqFyPDfV+aB9mBeMeRKHaj56igXVc0PvOIl340TLX+PnSW4sUQkH2+8Lcz8x6rL823pinft5wQec3IFaBXwmyMX72/fQKEAqCL68y8rsyQ+vNsN+QbzJhZ16Q9zvns3kHn3g+eDu6d34n3LkwGi50M/5uhguzA/7gIPhCQfKJ2FJhj1/sybex/J/iwqtfkC8XJneAuU/Yl0iOVLjx2o38Y4IRJBsq1CBq8jfkKwo6nwslFSr0VOSX5OsKOp+ZnpzneqXBaQoV0637wZZ8fYF9dWHH/o59fYF9faH1fsu+lvbp4x+cg+CMQb4AGyJC1Gj68gAAAAAASUVORK5CYII="); /* [3] */
    background-repeat: no-repeat; /* [2] */
    background-size: contain; /* [2] */
    background-position: center center; /* [2] */
    pointer-events: none; /* [3] */
    -ms-transform: translateY(-50%) rotate(0); /* [4] */
    transform: translateY(-50%) rotate(0); /* [4] */
    transition: transform $accordion-animation-speed ease;
  }
}

/**
 * Accordion Content
 *
 * The content for an accordion section, which is displayed on toggle.
 *
 * 1. Allows styling of box-model properties and absolute positioning of child/
 *    pseudo-elements.
 * 2. Allows for the content to be completely hidden when toggled off.
 */
.c-accordion__content {
  display: block; /* [1] */
  position: relative; /* [1] */
  margin: 0; /* [2] */
  overflow: hidden; /* [2] */
  opacity: 0; /* [2] */
  height: 0; /* [2] */
  transition: opacity $accordion-animation-speed ease, height $accordion-animation-speed ease;
}

/**
 * Accordion Inner
 *
 * Any padding must be set on `.c-accordion__inner` to allow
 * `.c-accordion__inner` to collapse completely when toggled.
 */
.c-accordion__inner {
  padding: $accordion-spacing;
}

/* States
  ============================================ */

/**
 * For Accordion Sections whose state is toggled.
 * Sets full opacity with `height: auto;` fallback.
 */
.c-accordion__section.is-active {
  .c-accordion__content {
    height: auto;
    opacity: 1;
  }

  /**
   * Rotate indicator icon.
   */
  .c-accordion__label {
    &::after {
      /*! autoprefixer: off */
      -ms-transform: translateY(-50%) rotate(180deg);
      transform: translateY(-50%) rotate(180deg);
    }
  }
}
