/* ==========================================================================
   COMPONENTS / #DROPDOWN
   ========================================================================== */

// Imports
@import "sky-toolkit-core/tools";

// Settings
$dropdown-animation-speed: $global-animation-speed !default;
$dropdown-background: color(white) !default;
$dropdown-background-focus: #f4f4f4 !default;
$dropdown-border-width: 1px;
$dropdown-border: $dropdown-border-width solid color(grey-20) !default;
$dropdown-border-radius: $global-border-radius !default;
$dropdown-shadow-blur-radius: 8px !default;
$dropdown-shadow-active: 0 0 $dropdown-shadow-blur-radius 0 rgba(0, 0, 0, 0.2) !default;
$dropdown-icon-size: $global-spacing-unit;
$dropdown-spacing: $global-spacing-unit-small - $dropdown-border-width;

/* Base
  ============================================ */

/**
 * Dropdown
 *
 * Dropdown menus are useful tools for navigation, but shouldn't be used for
 * form input purposes (see `c-form-select` for form use).
 *
 * 1. Allows absolute positioning of child and pseudo-elements.
 */
.c-dropdown {
  display: inline-block;
  position: relative; /* [2] */
}

/**
 * Dropdown Toggle
 *
 * Provides context to the menu and acts as an input to toggle the item list.
 *
 * 1. Displays the label stacked above its menu items.
 * 2. This wall of math automagically works out paddings and reserved space for
 *    the toggle indicator. Feel free to reverse engineer, but we’d recommend
 *    leaving it as is.
 * 3. Sets stacking order for the menu items to overlap above the label
 *    (essential for the shadow overlap fix)
 */
.c-dropdown__toggle {
  @include font(text-body);
  @include height-sizing(padding);
  display: block; /* [1] */
  position: relative;
  padding-left: $dropdown-spacing;
  padding-right: $global-spacing-unit-small + $dropdown-icon-size + $dropdown-spacing; /* [2] */
  font-weight: bold;
  text-align: left;
  border: $dropdown-border;
  border-radius: $dropdown-border-radius;
  color: color(text);
  background-color: $dropdown-background;
  outline: 0;
  cursor: pointer;
  z-index: z-index(1); /* [3] */
  transition: border $dropdown-animation-speed ease, border-radius $dropdown-animation-speed ease, box-shadow $dropdown-animation-speed ease;

  &:focus {
    @include focus-styles();
  }

  /**
   * Dropdown Toggle - Icon
   *
   * The Dropdown toggle uses an icon to indicate when the menu is open.
   * N.B. Temporary use of Base64 until a Sky SVG solution is realised.
   *
   * 1. Allows for positioning from the top and right of the dropdown.
   * 2. Sets background-image to the icon as Base64.
   * 3. Prevents the pseudo-element partially blocking the label's click events.
   * 4. Sets a starting position for the icon's movement.
   *    translateZ is required to prevent pixel jumps in webkit browsers.
   */
  &::after {
    /*! autoprefixer: off */
    content: "";
    position: absolute;
    top: $global-spacing-unit-small; /* [1] */
    right: $global-spacing-unit-small; /* [1] */
    width: $dropdown-icon-size;
    height: $dropdown-icon-size;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAAAjCAMAAAAT1/wYAAAAdVBMVEUAAABKSkpKSkpLS0tQUFBdXV1KSkpQUFBVVVVKSkpKSkpMTExQUFBPT09LS0tKSkpLS0tLS0tKSkpKSkpLS0tMTExMTExMTExKSkpKSkpLS0tLS0tMTExLS0tMTExLS0tKSkpLS0tKSkpKSkpMTExLS0tKSkrnsYtxAAAAJnRSTlMA5vneFwbUEQzz6zAkG+7Z0My8V1AsKCDCsamiQTs1xrZ7bl1KR017H3MAAAEmSURBVEjHpZTpkoIwEAY/DAIKaLi8ULzz/o+4aGZrateVYdz+laTopioJAKjLGB8RlzV6Ls4V8Ud+4dwFqFyPDfV+aB9mBeMeRKHaj56igXVc0PvOIl340TLX+PnSW4sUQkH2+8Lcz8x6rL823pinft5wQec3IFaBXwmyMX72/fQKEAqCL68y8rsyQ+vNsN+QbzJhZ16Q9zvns3kHn3g+eDu6d34n3LkwGi50M/5uhguzA/7gIPhCQfKJ2FJhj1/sybex/J/iwqtfkC8XJneAuU/Yl0iOVLjx2o38Y4IRJBsq1CBq8jfkKwo6nwslFSr0VOSX5OsKOp+ZnpzneqXBaQoV0637wZZ8fYF9dWHH/o59fYF9faH1fsu+lvbp4x+cg+CMQb4AGyJC1Gj68gAAAAAASUVORK5CYII="); /* [2] */
    background-repeat: no-repeat; /* [2] */
    background-size: contain; /* [2] */
    background-position: center center; /* [2] */
    pointer-events: none; /* [3] */
    -ms-transform: translateZ(0) rotate(0); /* [4] */
    transform: translateZ(0) rotate(0); /* [4] */
    transition: transform $dropdown-animation-speed ease;
  }
}

/**
 * Dropdown List
 *
 * Contains menu items, appearing when the label is toggled.
 *
 * 1. Removes default list margins.
 * 2. Sets the list to be stacked above the the label.
 *    This is essential for the list's pseudo-element overlap fix.
 *    As this needs to sit above other areas of UI, it needs a high value.
 * 3. Sets a border-radius on the bottom of the list to compliment the
 *    label's appearance.
 * 4. Visually hides the dropdown list until toggled.
 * 5. Sets a base scaleY to animate.
 * 6. Sets the transform to animate from the top of the element.
 */
.c-dropdown__list {
  /*! autoprefixer: off */
  display: block;
  width: 100%;
  position: absolute;
  margin: 0; /* [1] */
  z-index: z-index(5); /* [2] */
  list-style-type: none; /* [5] */
  background-color: $dropdown-background;
  border-radius: 0 0 $dropdown-border-radius $dropdown-border-radius; /* [3] */
  box-shadow: $dropdown-shadow-active;
  opacity: 0; /* [4] */
  -ms-transform: scaleY(0); /* [5] */
  transform: scaleY(0); /* [5] */
  -ms-transform-origin: top; /* [6] */
  transform-origin: top; /* [6] */
  visibility: hidden; /* [4] */
  transition: all $dropdown-animation-speed ease;

  /**
   * Dropdown Overlap Fix
   *
   * As the Dropdown toggle and list use similar box-shadows, there will
   * inevitably be overlap. To prevent this overlap, the Dropdown list uses a
   * pseudo-element with a matching background-color to cover the shadow.
   *
   * 1. Sets height and positioning to match and cover the shadow's blur radius.
   * 2. Matches the Dropdown label background to hide the shadow.
   */
  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: $dropdown-shadow-blur-radius; /* [1] */
    top: -$dropdown-shadow-blur-radius; /* [1] */
    background-color: $dropdown-background; /* [2] */
  }
}

/**
 * Dropdown Link
 *
 * Provides styling for individual menu items within the Dropdown list.
 *
 * 1. As we use scaleY on the Dropdown list to toggle the menu, each item is
 *    scaled slightly larger at the start to counteract the Dropdown list scaleY
 *    and prevent a "squashed" appearance on toggle.
 * 2. Allows us to transition the link opacity slightly faster than the list.
 * 3. As we can't hide the overflow, a border-radius is set on the last-child.
 */
.c-dropdown__link {
  /*! autoprefixer: off */
  @include font(text-body);
  display: block;
  width: 100%;
  padding: $global-spacing-unit-tiny $global-spacing-unit-small;
  color: color(text);
  -ms-transform: scaleY(2.5); /* [1] */
  transform: scaleY(2.5); /* [1] */
  opacity: 0; /* [2] */
  transition: transform $dropdown-animation-speed ease, opacity $global-animation-speed-fast ease;
  border: 0;
  background-color: $dropdown-background;
  text-align: left;

  .c-dropdown__item:last-child & {
    border-radius: 0 0 $dropdown-border-radius $dropdown-border-radius; /* [3] */
  }

  &:hover,
  &:focus {
    background-color: $dropdown-background-focus;
    outline: 0;
    text-decoration: underline;
  }

  &:active {
    outline: 0;
  }
}

/* States
  ============================================ */

/**
 * When a dropdown's state is toggled.
 */
.c-dropdown.is-open {
  /**
   * 1. Scales vertical axis to its full height to achieve 'slide' animation.
   * 2. Sets text to its correct height to animate upon.
   */
  .c-dropdown__list {
    /*! autoprefixer: off */
    opacity: 1;
    -ms-transform: scaleY(1); /* [1] */
    transform: scaleY(1); /* [1] */
    visibility: visible;
  }

  .c-dropdown__link {
    /*! autoprefixer: off */
    opacity: 1;
    -ms-transform: scaleY(1); /* [2] */
    transform: scaleY(1); /* [2] */
  }

  /**
   * 1. Removes border-radius on bottom edge to overlap the dropdown list.
   * 2. Rotates icon indicator 180 degrees.
   */
  .c-dropdown__toggle {
    border-color: $dropdown-background;
    box-shadow: $dropdown-shadow-active;
    border-radius: $dropdown-border-radius $dropdown-border-radius 0 0; /* [1] */

    &::after {
      /*! autoprefixer: off */
      -ms-transform: translateZ(0) rotate(180deg); /* [2] */
      transform: translateZ(0) rotate(180deg); /* [2] */
    }
  }
}

/* Modifiers
   =========================================== */

/**
 * For dropdowns that need to display full-width.
 */
.c-dropdown--full {
  display: block;
  width: 100%;

  .c-dropdown__toggle {
    width: 100%;
  }
}

/**
 * For dropdowns that need to display full-width on small devices only.
 */
.c-dropdown--full\@small-only {
  @include mq($until: small) {
    display: block;
    width: 100%;

    .c-dropdown__toggle {
      width: 100%;
    }
  }
}
