/* ==========================================================================
   COMPONENTS / #LINK-FAUX
   ========================================================================== */

// Imports
@import "sky-toolkit-core/tools";

// Settings
$link-faux-padding: $global-spacing-unit-tiny;
$link-faux-border-radius: $global-border-radius;

/* Base
  =========================================== */

/**
 * Link (Faux)
 *
 * See `c-link` for a `<button>` styled as `<a:link> `only
 *
 * When a `<button>` needs to appear as a hybrid of a `<a:link>` and a `<button>`
 * for cosmetic reasons, Link (Faux) should be used.
 *
 * 1. Reset browser styles.
 * 2. Tidy alignment for when the button size needs to be modified.
 * 3. Make buttons inherit font styles (necessary when styling `input`s as
 *    buttons).
 * 4. Base transparent background-color for modifiers to alter.
 * 5. Force all button-styled elements to appear clickable.
 * 6. Mimic link underline.
 */
.c-link-faux {
  position: relative;
  display: inline-block;
  margin: 0; /* [1] */
  padding: 0; /* [1] */
  vertical-align: middle; /* [2] */
  font: inherit; /* [3] */
  color: color(text);
  background-color: transparent; /* [4] */
  border: 0; /* [1] */
  cursor: pointer; /* [5] */

  &:hover {
    text-decoration: underline; /* [6] */
  }

  /**
   * Link (Faux) `:focus`
   *
   * When a `<button>` needs to appear similar to a link for cosmetic reasons,
   * Link (Faux) should be used.
   *
   * To protect the Link (Faux) box-model, a pseudo-element with negative margins
   * is used to create the "button" focus appearance.
   */
  &:focus {
    outline: 0;

    &::before {
      @include edge-position(-$link-faux-padding);
      @include focus-styles();
      content: "";
      position: absolute;
      border-radius: $link-faux-border-radius;
    }
  }
}

/* Modifiers
   =========================================== */

/**
* For Link (Faux)s used in dark areas of UI.
*/
.c-link-faux--invert {
  color: color(white);

  &:focus {
    &::before {
      @include focus-styles(invert);
    }
  }
}
