/* ==========================================================================
   COMPONENTS / #LINKS
   ========================================================================== */

// Imports
@import "sky-toolkit-core/tools";

/* Base
  =========================================== */

/**
 * Link
 *
 * Make a element look and act like an `<a:link>`. Recommended for `<button>s`
 * that need an alterntive display.
 *
 * 1. Reset browser styles.
 * 2. Force element to appear clickable.
 * 3. Match to a:link styling.
 */
.c-link {
  border: none;  /* [1] */
  background: none;  /* [1] */
  padding: 0;  /* [1] */
  cursor: pointer; /* [2] */
  color: color(brand); /* [3] */

  @include hocus() {
    text-decoration: underline; /* [3] */
  }
}

/**
 * Link External
 *
 * Adding icons to the end of any external links
 *
 * 1. c-link-external currently uses an inline Base64 png chevron icon.
 *    This will eventually be replaced by SVG.
 * 2. Brand-specific override.
 */
.c-link-external {
  &::after {
    content: "";
    display: inline-block;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAABACAMAAACnZz6fAAAAG1BMVEUAAAAAcskAcskAcskAcskAcskAcskAcskAcsk09XWDAAAACHRSTlMAMGBwgI+f7y/+m9wAAABGSURBVHgB7c3LDYBADAPRIXyc/iuGCmJuK6085ycNUFIxd/fXjKrbIrVHxw4oKCgIj/4b/3KkQkJC1hI8gdMTeDyBS5rJC7vhD7kuyMbFAAAAAElFTkSuQmCC"); /* [1] */
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: text-bottom;
    margin-bottom: 1px; /* [2] */
    margin-left: $global-spacing-unit-small;
    width: 1em;
    height: 1em;
  }
}
