/* ==========================================================================
   COMPONENTS / #OVERLAY
   ========================================================================== */

/**
 * ⚠️ DEPRECATION WARNING
 * The following classes will be deprecated in sky-toolkit-ui@3.0.0, please use
 * the alternatives detailed below:
 *   ◦ `.c-overlay__close-label` → `c-link__label`
 *   ◦ `c-overlay__close-icon` ⨯
 *      No longer necessary, please use `c-link c-link--close` on the parent.
 */

// Imports
@import "sky-toolkit-core/tools";

// Settings
$overlay-header-height-large: 80px;
$overlay-header-height-small: 60px;

/* Base
  ============================================ */

/**
 * Overlay
 *
 * A container for displaying contextual content, usually triggered from a button or link.
 * The overlay fills the entire viewport, and the content within it is scrollable.
 *
 * 1.  Fill the entire viewport
 * 2.  Ensure overlay is layered on top of the rest of the document. The `5`
 *     value allows room to layer other elements higher within the overlay
 *     itself, while ensuring it's high enough to trump anything that needs to
 *     stay below.
 */
.c-overlay {
  @include edge-position(); /* [1] */
  position: fixed; /* [1] */
  background-color: color(white);
  z-index: z-index(5); /* [2] */
}

/**
* The fixed header and footer of the overlay
*/
.c-overlay__header,
.c-overlay__footer {
  box-shadow: $global-shadow;
  position: absolute;
  width: 100%;
  background-color: color(white);
}

/**
 * Overlay Header
 *
 * The fixed header of the overlay, which sits at the top of the viewport. It
 * typically contains only a close button, but could be given extra children for
 * some journeys.
 *
 * 1.  Fix the height so we can determine how much to pad the top of the content
 * 2.  Ensure overlay header remains above overlay content
 */
.c-overlay__header {
  top: 0;
  height: $overlay-header-height-small; /* [1] */
  padding: 0 $global-spacing-unit-small;
  text-align: right;
  z-index: z-index(2); /* [2] */

  @include mq($from: medium) {
    height: $overlay-header-height-large; /* [1] */
    padding: 0 $global-spacing-unit;
  }
}

/**
 * Overlay Footer
 *
 * The fixed footer of the overlay, which sits at the bottom of the viewport. It
 * typically contains a call to action button, but could also be given other
 * children for some journeys.
 */
.c-overlay__footer {
  bottom: 0;
  padding: $global-spacing-unit-small;
  text-align: center;
}

/**
 * Overlay content
 *
 * The scrollable content area of the overlay, this is an open canvas to be
 * filled with any content.
 *
 * 1.  Pad the top of the content to allow for the overlay header
 * 2.  Make the content scrollable if it overflows
 * 3.  Ensure overlay content remains under overlay content
 * 4.  Give inertial scrolling to scrollable content sitting within the overlay
 */
.c-overlay__content {
  padding-top: $overlay-header-height-small; /* [1] */
  height: 100%; /* [2] */
  overflow-y: scroll; /* [2] */
  position: relative;
  z-index: z-index(1); /* [3] */
  -webkit-overflow-scrolling: touch; /* [4] */

  @include mq($from: medium) {
    padding-top: $overlay-header-height-large; /* [1] */
  }
}

/**
 * Overlay close button - ⚠️ [SEE DEPRECATION WARNING]
 *
 * The button to close the overlay. This usually sits at the right side of the
 * overlay header, but can be displayed to the left with the
 * `.c-overlay--close-left` modifier below.
 *
 * 1.  Just a tad spacing between the icon and the label
 * 2.  Vertically align the icon with the close button label
 */
.c-overlay__close-icon {
  margin-left: $global-spacing-unit-small; /* [1] */
  vertical-align: middle; /* [2] */
}

/**
 * Hide the close button label on smaller devices - ⚠️ [SEE DEPRECATION WARNING]
 */
.c-overlay__close-label {
  vertical-align: middle;
  color: color(text);

  @include mq($until: small) {
    @include hide-visually();
  }
}

/* Modifiers
  ============================================ */

/**
 * Optionally display the close button on the left. Used when extra children
 * need to be added to the right of the overlay header (e.g. baskets, continue
 * button etc.)
 */
.c-overlay--close-left {
  .c-overlay__header {
    text-align: left;
  }

  .c-overlay__close-icon { /* ⚠️ [SEE DEPRECATION WARNING] */
    margin-left: 0;
    margin-right: $global-spacing-unit-small;
  }
}
