/* ==========================================================================
   COMPONENTS / #PANEL
   ========================================================================== */

// Imports
@import "sky-toolkit-core/tools";

// Settings
$panel-icon-size: 1.5em;
$panel-shadow-size-top: inset 0 12px 12px -12px;
$panel-shadow-size-bottom: inset 0 -12px 12px -12px;
$panel-shadow-color: #9f9f9f;
$panel-shadow-color-dark: color(black);
$panel-shadow: $panel-shadow-size-top $panel-shadow-color, $panel-shadow-size-bottom $panel-shadow-color;
$panel-shadow-dark: $panel-shadow-size-top $panel-shadow-color-dark, $panel-shadow-size-bottom $panel-shadow-color-dark;
$panel-background-color: color(white) !default;
$panel-background-color-dark: color(grey-50) !default;
$panel-spacing: $global-spacing-unit * 3;

/* Base
  =========================================== */

/**
 * Panel
 *
 * Panels are used to convey extra information and minimise screen space.
 *
 * 1. Break the panel outside of current container (typically `.o-container`).
 */
.c-panel {
  @include breakout();
  max-height: 0;
  overflow: hidden;
  background: $panel-background-color;
  box-shadow: $panel-shadow;
  transition: $global-animation-speed linear;
  transition-property: max-height, margin-bottom;
}

.c-panel__content {
  padding-top: $panel-spacing;
  padding-bottom: $panel-spacing;
}

/* Panel Navigation
  ---------------------------------- */

/**
 * Panel Back & Toggle - Shared Positioning
 *
 * 1. Position buttons at the top of the panel.
 */
.c-panel__back,
.c-panel__toggle {
  font-size: font-size(text-body);
  position: absolute; /* [1] */
  top: $global-spacing-unit; /* [1] */
}

/**
 * Panel Back
 *
 * Used for navigating backwards in a panel journey.
 *
 * This should be applied as a BEM Mix alongside `.c-link .c-link--back`.
 * e.g. `<button class="c-panel__back c-link c-link--back">Back</button>`
 *
 * 1. Position the button in top left of panel
 * 2. Provide spacing for cross icon
 */
.c-panel__back {
  left: $global-spacing-unit; /* [1] */
  padding-left: 0; /* [2] */
}

/**
 * Panel Toggle
 *
 * Used for closing the panel on completion of a journey.
 *
 * This should be applied as a BEM Mix alongside `c-link c-link--close`.
 * e.g. `<button class="c-panel__toggle c-link c-link--close">Close</button>`
 *
 * 1. Position the button in top right of panel
 * 2. Inherit the font colour for light and dark panels.
 */
.c-panel__toggle {
  right: $global-spacing-unit; /* [1] */
  color: inherit; /* [2] */

  /**
   * ⚠️ DEPRECATION WARNING
   * The following styles will be deprecated in sky-toolkit-ui@3.0.0, please use
   * `c-panel__toggle c-link c-link--close` instead.
   * To avoid clashing with the new approach (specifically, to avoid weird
   * behaviour in IE where `font-size` cascades and multiplies) we need to
   * wrap our previously-surfaced styles in a `:not` selector.
   */
  &:not(.c-link--close) {
    padding-right: $panel-icon-size;

    &::after {
      display: inline-block;
      margin-left: $global-spacing-unit-tiny;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      content: "\2715"; // ×
      font-size: 1.5em;
    }
  }
}

/* States
  =========================================== */

/**
 * When a panel's state is toggled open
 */
.c-panel.is-open {
  max-height: none;
  margin-bottom: $global-spacing-unit;
}

/* Modifiers
   =========================================== */

/**
 * Dark-themed panels
 *
 * Note: For `.c-link--back` you will need to apply an additional class of
 *       `.c-link--invert` to achieve darker-themed styling.
 */
.c-panel--dark {
  background-color: $panel-background-color-dark;
  box-shadow: $panel-shadow-dark;
  color: color(white);

  /**
   * Utilise dark-themed focus-styles on pseudo-focus.
   */
  .c-panel__toggle:focus::before {
    @include focus-styles(invert);
  }
}

/**
 * Constrain content to full viewport height when open
 */
.c-panel--constrain {
  &.is-open {
    max-height: 100vh;
  }
}
