/* ==========================================================================
   PREVIEW / BESPOKE
   ========================================================================== */

// A collection of styles that are specific to our preview environment and not
// to be used in production.

// Components
// ==============================================

.c-example--tile {
  max-width: 26em;
}

.c-example--overlay {
  margin-bottom: $global-spacing-unit;

  .c-overlay,
  .c-modal-cover {
    position: relative;
    min-height: 100vh;
  }
}
