// =============================================================================
// SETTINGS / #GRADIENTS
// =============================================================================

// Our brand and project gradients are held in maps.
// Access these using tools from `tools/gradients`.
$gradients: (
  default: (
    0%:   #f2f2f5,
    100%: #fff
  ),
  highlight: (
    0%:   #cdccd4,
    100%: #fff
  ),
  page: (
    0%:   #c9c7d1,
    6%:   #e5e5ea,
    20%:  #fefefe,
    80%:  #fefefe,
    94%:  #e5e5ea,
    100%: #c9c7d1
  ),
  page-small: (
    0%:   #f2f2f5,
    50%:  #fff,
    100%: #f2f2f5
  ),
  sky-1: (
    0%:   #0080df,
    100%: #079ef8
  ),
  sky-account: (
    0%:   #135fa0,
    100%: #197bc9
  ),
  sky-atlantic: (
    0%:   #003a7f,
    100%: #079ef8
  ),
  sky-arts: (
    0%:   #fd004c,
    100%: #fd5366
  ),
  sky-box-sets: (
    0%:   #5c0f39,
    100%: #80082c
  ),
  sky-cinema: (
    0%:   #903,
    100%: #cb0033
  ),
  sky-kids: (
    0%:   #4c0080,
    100%: #6626a1
  ),
  sky-living: (
    0%:   #68879c,
    100%: #67a0b5
  ),
  sky-news: (
    0%:   #041957,
    100%: #122d74
  ),
  sky-spectrum: (
    0%: #f08300,
    30%: #e3000f,
    60%: #a72879,
    100%: #0644a1
  ),
  sky-sports: (
    0%:   #021158,
    100%: #122476
  ),
  sky-store: (
    0%:   #003268,
    100%: #073fa0
  ),
  tile: (
    50%:  #fff,
    100%: #e6e6ea
  )
) !default;

// Directional settings required for defining both prefixed and standard
// gradients in our `tools/gradients` mixins.
$gradient-directions: (
  vertical: (
    legacy: "top",
    standard: "to bottom",
    type: linear,
    reverse: false
  ),
  vertical-invert: (
    legacy: "bottom",
    standard: "to top",
    type: linear,
    reverse: false
  ),
  horizontal: (
    legacy: "left",
    standard: "to right",
    type: linear,
    reverse: false
  ),
  radial: (
    legacy: "center, ellipse cover",
    standard: "ellipse at center",
    type: radial,
    reverse: true
  )
) !default;
